body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}
.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fundoLogin.png);
    display: flex;
    justify-content: space-between;
    min-height: 700px;
    background-repeat: no-repeat;
}
.ladoEsquerdo {
    display: flex;
    flex-direction: column;
}
.ladoEsquerdo .tits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}
.ladoEsquerdo .tits .t1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
.ladoEsquerdo .tits .t2 {
    margin-top: 10px;
    font-family: 'Lilita One', sans-serif;
    color: #facc15;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    margin-top: -20px;
    text-align: center;
}
.ladoEsquerdo .tits .textLog {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
}
.ladoEsquerdo .imgBrawlers {
    margin-left: 80px;
    margin-top: 10px;   
}
.ladoEsquerdo img{
    width: 540px;
    height: 440px;
}

.ladoDireito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 130px;
}
.ladoDireito .topo {
    display: flex;
    justify-content: center;
}
.ladoDireito .topo img{
    width: 250px;
    height: 200px;
}
.ladoDireito .cardLog {
    width: 500px;
    height: 400px;
    background-color: #000a30;
    border-radius: 20px;
    border: 3px solid #0037ff;
    
    display: flex;
    flex-direction: column;
}
.ladoDireito .cardLog .tit{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.ladoDireito .cardLog .tit img{
    width: 70px;
    height: 85px;
    margin-top: 25px;
    margin-left: 50px;
}
.ladoDireito .cardLog .tit h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 50px; 
    margin-left: 40px;
}
.ladoDireito .cardLog .textTit p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 140px;
    margin-top: -25px;
}
.ladoDireito .cardLog .inpLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}
.ladoDireito .cardLog .inpLogin input {
    background-color: #000725;
    width: 380px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #06238c;
}
.ladoDireito .cardLog button {
    margin-top: 20px;
    width: 380px;
    height: 40px;
    border-radius: 8px;
    background-color: #facc15;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ladoDireito .cardLog .fraF {
    display: flex;
    justify-content: center;
}
.ladoDireito .cardLog .fraF p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ladoDireito .cardCadastrar .fraF a {
    color: #022abd;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer {
    background-color: #1e2a78;
    padding: 5px;
    border-top: 2px solid #0037ff;
}
.footer .textFooter{
    color: white;
    margin-left: 40px;
}