body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}
.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fundoLogin.png);
    display: flex;
    justify-content: space-between;
    min-height: 710px;
    background-repeat: no-repeat;
}
.ladoEsquerdo {
    display: flex;
    flex-direction: column;
}
.ladoEsquerdo .tits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}
.ladoEsquerdo .tits .t1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
.ladoEsquerdo .tits .t2 {
    margin-top: 10px;
    font-family: 'Lilita One', sans-serif;
    color: #facc15;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    margin-top: -20px;
    text-align: center;
}
.ladoEsquerdo .tits .textLog {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
}
.ladoEsquerdo .imgBrawlers {
    margin-left: 10px;
    margin-top: 10px;   
}
.ladoEsquerdo img{
    width: 540px;
    height: 440px;
    filter: drop-shadow(0 15px 20px rgba(0,0,0,0.5));
}

.ladoDireito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 130px;
}
.ladoDireito .topo {
    display: flex;
    justify-content: center;
}
.ladoDireito .topo img{
    width: 170px;
    height: 130px;
    margin-bottom: 4px;
    margin-top: -2px;
}
.ladoDireito .cardCadastrar {
    width: 500px;
    height: 500px;
    background-color: #000a30;
    border-radius: 20px;
    border: 3px solid #0037ff;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ladoDireito .cardCadastrar .tit{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.ladoDireito .cardCadastrar .tit img{
    width: 70px;
    height: 85px;
    margin-top: 45px;
}
.ladoDireito .cardCadastrar .tit .tits{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.ladoDireito .cardCadastrar .tit .titCentral {
    display: flex;
    flex-direction: column;
}
.ladoDireito .cardCadastrar .tit .p1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 50px;
}
.ladoDireito .cardCadastrar .tit .p2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #facc15;
    font-size: 40px;
    margin-top: 50px;
}
.ladoDireito .cardCadastrar .textTit p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -25px;
}
.ladoDireito .cardCadastrar .inpCadastrar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}
.ladoDireito .cardCadastrar .inpCadastrar input {
    background-color: #000725;
    color: white;
    width: 380px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #06238c;
}
.ladoDireito .cardCadastrar button {
    margin-top: 20px;
    width: 380px;
    height: 40px;
    border-radius: 8px;
    background-color: #facc15;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ladoDireito .cardCadastrar .fraF p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ladoDireito .cardCadastrar .fraF a {
    color: #022abd;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer {
    background-color: #06238c;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}
.footer .textFooter{
    color: white;
    margin-left: 35px;
}